# Compiled files
*.class

# Eclipse settings
.settings/
.metadata/

# Latex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lox
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.run.xml
14_del2_LaTeX/*.pdf
14_del3_LaTeX/*.pdf